{% extends 'base.html' %}

{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>No Reg</th>
                <th>Nama</th>
            </tr>
        </thead>
        <tbody>
            {% for k in karyawan %}
                <tr>
                    <td>{{k.noreg}}</td>
                    <td>{{k.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}